<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="quick.com.jsbridge" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name="com.quick.jsbridge.view.QuickWebLoader"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:permission="android.permission.QUICK_HYBRID">
            <intent-filter>
                <action android:name="com.quick.jsbridge" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="quickframe" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
